html, body { 
    background-color: black;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

* {
    user-select: none;
}

svg {
    color: white;
}

.social-icon {
    user-select: none;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        transform: translateY(-7px) scale(1.05);
    }
}

.react-activity-calendar__calendar {
    height: 7vw !important;
}


.github-calendar {
    & div {
        color: white !important;
    }
}

.mt-header {
    &__nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        & a {
            position: relative;
            color: white;
            text-decoration: none;
            transition: all 0.15s ease-in;
            &:hover::after {
                width: 100%;
                transition: all 0.15s ease-in;
            }
            &::after {
                transition: all 0.15s ease-in;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: white;

            }
        }
    }
}

.secret {
    &__wrapper {
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
    &__input {
        color: white;
        width: 430px;
    }
    &__button { 
        color: white;
        &:hover {
            color: black;
        }
    }
}


// RESPONSIVE STYLES

@media screen and (max-width: 768px) {
    .cursor-trail {
        display: none;
    }
    .github-calendar {
        display: none;
    }
    .calendar__heading {
        display: none;
    }
}