.game {
    &__image {
        &:hover img {
            opacity: 0.5;
        }
        &--hover {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.1s ease-out;
        }
    }
}